; INSTR.RC ... INST.EXE のリソースファイル
;
; 　本ファイルを編集→リコンパイルする事で、メッセージ文字列をカスタマイズ
; する事が出来ます。
; 　例えば、他国語版の OS/2 で使用される際、事前に修正を施しておけば、トラ
; ブルが少なくて済む...かも知れません...(^^ゞ
;
; 　コンパイルするには、INSTR.RC INST.EXE の２ファイルを同じディレクトリに
; 置いて、以下のコマンドを実行します。
;
; RC.EXE -X -CP 932 INSTR.RC INST.EXE
;
;
; ※リソースコンパイラ RC.EXE は、OS/2 導入時に「システムユーティリティー」
; 　内の「オブジェクトモジュールのリンク」をチェックすると、インストール
; 　されます。
;

; 各種文字列

STRINGTABLE
{
	100 "ALWALTFX:Information"
	101 "ALWALTFX:Warning"
	102 "ALWALTFX:Error"
	103 "ALWALTFX:Question"
	104 "現在実行中の ALWALTFX を終了させて下さい。"
	105 "以上の設定でインストールを開始します。"
	106 "インストールを中断します。"
	107 "ファイル "
	108 "ディレクトリ "
	109 " は存在しません。新しく作成しますか？"
	110 " を作成できませんでした。"
	111 " が見つかりません。"
	112 "コピー先に既に同名のファイルがあります。 "
		"上書きしてよろしいですか？"
	113 " のコピーに失敗しました。"
	114 "DLLファイルが他のプロセスにより使用中ですので、"
		"置換処理を行いました。 それらのプロセスを全て終了させるか、シス"
		"テムの再起動により、インストールが完了します。 それまでは、"
		"ALWALTFX を実行させないで下さい。"
	115 "インストールを中断しました。"
	116 "インストールが終了しました。"
}

; ダイアログテンプレート

DLGTEMPLATE 200 LOADONCALL MOVEABLE DISCARDABLE
BEGIN
	DIALOG	"ALWALTFX ver3.4 インストール", 200, 0, 0, 
			264, 120, 0x80000000L, 0x00000001L
	BEGIN
		LTEXT			"インストール中です、しばらくお待ち下さい...", 
						201, 12, 60, 192, 12, 0x0400
	END
END

DLGTEMPLATE 100 LOADONCALL MOVEABLE DISCARDABLE
BEGIN
	DIALOG	"ALWALTFX ver3.4 インストール", 100, 0, 0, 
			288, 216, 0x80000000L, 0x00000001L
	BEGIN
		LTEXT			"インストール方法:", 101, 6, 198, 90, 
						12, 0x0400
		AUTORADIOBUTTON "現行ディレクトリのファイルをそのまま使用する", 
						102, 6, 186, 198, 12, 0x00020000L
		AUTORADIOBUTTON "指定ディレクトリにファイルをコピーする", 
						103, 6, 174, 198, 12, 
						0x00020000L
		GROUPBOX		"インストール先ディレクトリ", 104, 6, 
						108, 276, 66
		LTEXT			"EXEファイル他:", 105, 12, 150, 66, 12, 
						0x0400
		ENTRYFIELD		"", 106, 80, 152, 194, 8, 0x00000008L
		LTEXT			"DLLファイル:", 107, 12, 138, 66, 12, 
						0x0400
		ENTRYFIELD		"", 108, 80, 140, 194, 8, 0x00000008L
		LTEXT			"※DLLのディレクトリには、CONFIG.SYSのLIBPATH=に含ま"
						"れている", 109, 24, 122, 252, 10, 
						0x0400
		LTEXT			"　ディレクトリか、EXEと同じディレクトリを指定して下"
						"さい。", 110, 24, 112, 252, 10, 
						0x0400
		AUTOCHECKBOX	"プログラムオブジェクトを作成する", 
						111, 6, 90, 198, 12
		GROUPBOX		"設定", 112, 6, 24, 276, 66
		LTEXT			"作成場所:", 113, 12, 66, 40, 12, 
						0x0400
		AUTORADIOBUTTON "デスクトップ", 114, 52, 66, 72, 12, 
						0x00020000L
		AUTORADIOBUTTON "始動", 115, 124, 66, 36, 12, 
						0x00020000L
		LTEXT			"オプション:", 116, 12, 54, 48, 12, 
						0x0400
		AUTOCHECKBOX	"始動時最小化", 117, 60, 54, 156, 12
		AUTOCHECKBOX	"ウィンドウ・リストに表示しない", 118, 60, 
						42, 156, 12
		LTEXT			"起動遅延時間指定:", 119, 60, 30, 
						72, 12, 0x0400
		ENTRYFIELD		"", 120, 134, 32, 32, 8, 0x00000002L | 
						0x00000008L
		LTEXT			"sec", 121, 168, 30, 20, 12, 
						0x0400
		PUSHBUTTON		"インストール", 122, 176, 6, 60, 14
		PUSHBUTTON		"取消", 123, 242, 6, 40, 14
	END
END
